<footer class="footer text-light pt-5 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 class="logo">
            <img src="assets/images/Logo.png" alt="">
          </h4>
          <p class="lead">In the new era of technology we look in the future with certainty and pride for our company and.</p>
          <div class="social-icons d-flex">
            <a href="#" class="text-light me-3"><i class="bi bi-twitter"></i></a>
            <a href="#" class="text-light me-3"><i class="bi bi-facebook"></i></a>
            <a href="#" class="text-light me-3"><i class="bi bi-instagram"></i></a>
            <a href="#" class="text-light"><i class="bi bi-github"></i></a>
          </div>
        </div>  
        <div class="col-md-4 text-center">
          <h5 class="pb-5">Pages</h5>
          <ul class="list-unstyled">
            <li><a routerLink="home" class="text-light">Home</a></li>
            <li><a routerLink="about" class="text-light">About</a></li>
            <li><a routerLink="menu" class="text-light">Menu</a></li>
            <li><a routerLink="contact" class="text-light">Contact</a></li>
          </ul>
        </div>
  

        <!-- Instagram Feed -->
        <div class="col-md-4">
          <h5 class="pb-5">Follow Us On Instagram</h5>
          <div class="row g-2">
            <div class="col-6">
              <div >
                <img src="assets/images/f1.png" alt="">
              </div>
            </div>
            <div class="col-6">
              <div >
                <img src="assets/images/f2.png" alt="">
              </div>
            </div>
            <div class="col-6">
              <div >
                <img src="assets/images/f3.png" alt="">
              </div>
            </div>
            <div class="col-6">
              <div >
                <img src="assets/images/f4.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Copyright -->
      <div class="text-center mt-4">
        <small>Copyright © 2023 Hashtag Developer. All Rights Reserved</small>
      </div>
    </div>
  </footer>