<div *ngIf="product">
  <div class="container-fluid my-4">
    <div class="card mx-auto col-md-3 col-10 mt-5">
      <div class="text-center bg-danger text-big text-white">
        {{ product.category }}
      </div>
      <img
        class="mx-auto img-thumbnail"
        [src]="product.image"
        alt="{{ product.name }}"
        width="auto"
        height="auto"
      />
      <div class="card-body text-center mx-auto">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-footer text-bg-danger">{{ product.price }} $</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <span class="loader"></span>
</div>

<div *ngIf="errorMessage">
  <p>{{ errorMessage }}</p>
</div>
