<div class="container overflow-hidden my-5">
  <h1 class="text-center py-5">What Our Customers Say</h1>
  <div class="row gy-4 gy-md-0 gx-xxl-5">
    <div class="col-12 col-md-4">
      <div class="card border-0 shadow-sm">
        <div class="card-body pb-0 px-5 pt-5">
          <figure class="mb-0">
            <figcaption>
              <h6>“The best restaurant”</h6>
              <blockquote class="bsb-blockquote-icon mb-4">
                Last night, we dined at place and were simply blown away. From
                the moment we stepped in, we were enveloped in an inviting
                atmosphere and greeted with warm smiles.
              </blockquote>
            </figcaption>
            <hr />
            <div class="d-flex">
              <div>
                <img
                  class="img-fluid rounded rounded-circle mb-4"
                  loading="lazy"
                  src="assets/images/Ellipse 19.png"
                  alt="Luna John"
                />
              </div>
              <div class="mt-2 px-3">
                <h5>Sophire Robson</h5>
                <h5 class="fs-6 text-secondary">Los Angeles, CA</h5>
              </div>
            </div>
          </figure>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card border-0 shadow-sm">
        <div class="card-body pb-0 px-5 pt-5">
          <figure class="mb-0">
            <figcaption>
              <h6>“Simply delicious”</h6>
              <blockquote class="bsb-blockquote-icon mb-4">
                Place exceeded my expectations on all fronts. The ambiance was
                cozy and relaxed, making it a perfect venue for our anniversary
                dinner. Each dish was prepared and beautifully presented.
              </blockquote>
            </figcaption>
            <hr />
            <div class="d-flex">
              <div>
                <img
                  class="img-fluid rounded rounded-circle mb-4"
                  loading="lazy"
                  src="assets/images/Ellipse 20.png"
                  alt="Luna John"
                />
              </div>
              <div class="mt-2 px-3">
                <h5>Matt Cannon</h5>
                <h5 class="fs-6 text-secondary">San Diego, CA</h5>
              </div>
            </div>
          </figure>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card border-0 shadow-sm">
        <div class="card-body pb-0 px-5 pt-5">
          <figure class="mb-0">
            <figcaption>
              <h6>“One of a kind restaurant”</h6>
              <blockquote class="bsb-blockquote-icon mb-4">
                The culinary experience at place is first to none. The
                atmosphere is vibrant, the food - nothing short of
                extraordinary. The food was the highlight of our evening. Highly
                recommended.
              </blockquote>
            </figcaption>
            <hr />
            <div class="d-flex">
              <div>
                <img
                  class="img-fluid rounded rounded-circle mb-4"
                  loading="lazy"
                  src="assets/images/Ellipse 21.png"
                  alt="Luna John"
                />
              </div>
              <div class="mt-2 px-3">
                <h5>Andy Smith</h5>
                <h5 class="fs-6 text-secondary">San Francisco, CA</h5>
              </div>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
