<app-about-head></app-about-head>
<section>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-7 mb-5">
              <img src="../../assets/images/mid-shot-chef-holding-plate-with-pasta-making-ok-sign 1.png" alt="">
            </div>
            <div class="col-md-5 mt-5">
              <div>
                <img src="../../assets/images/sour-curry-with-snakehead-fish-spicy-garden-hot-pot-thai-food 1.png" alt="">
              </div>
              <div class="pt-4">
                <img src="../../assets/images/sadj-iron-pot-with-various-salads 1.png" alt="">
              </div>
            </div>
          </div>
  
        </div>
        <div class="col-md-5 d-flex px-5 justify-content-center flex-column text-start">
          <h2 class="large">Fastest Food <br> Delivery in City</h2>
          <p>Our visual designer lets you quickly and of drag a down <br> your way to customapps for both keep desktop. </p>
        </div>
      </div>
    </div>
  </section>

  <app-testmonials></app-testmonials>