<section class="my-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6 position-relative">
          <img src="../../assets/images/About.png" alt="" />
          <div class="about-content p-4 py-5 rounded-4 position-absolute">
            <h6 class="py-3">Come and visit us</h6>
            <div>
              <li>
                <i class="bi-telephone"></i>
                <span class="mx-3">(414) 857 - 0107</span>
              </li>
              <li>
                <i class="bi-envelope"></i>
                <span class="mx-3">happytummy&#64;restaurant.com</span>
              </li>
              <li>
                <i class="bi bi-geo-alt"></i>
                <span class="mx-3">837 W. Marshall Lane Marshalltown,</span>
                <br />
                <span class="mx-4 px-2"> IA 50158, Los Angeles</span>
              </li>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-start p-5 about-raight">
          <h3>We provide healthy food for your family.</h3>
          <span class="d-block py-3"
            >Our story began with a vision to create a unique dining experience
            that merges fine dining, exceptional service, and a vibrant ambiance.
            Rooted in city's rich culinary culture, we aim to honor our local
            roots while infusing a global palate.
          </span>
          <p>
            At place, we believe that dining is not just about food, but also
            about the overall experience. Our staff, renowned for their warmth and
            dedication, strives to make every visit an unforgettable event.
          </p>
        </div>
      </div>
    </div>
  </section>
  