.contact-form-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Smooth shadow effect */
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  textarea.form-control {
    height: 150px;
    resize: none;
  }
  
  .btn-lg {
    width: 100%;
    background-color: #b42a2a;
    color: white;
  }
  
  @media (max-width: 768px) {
    .row.mb-3 {
      flex-direction: column;
    }
  }
  