<div class="container">
  <div class="text-center">
    <h1 class="text-big">Our Menu</h1>
    <p>
      We consider all the drivers of change gives you the components <br />
      you need to change to create a truly happens.
    </p>
    <div class="my-3">
      <button
        class="btn border-4 px-4 mx-2 border-light-subtle text-dark rounded-5"
        (click)="ngOnInit()"
        [ngClass]="{ 'btn-danger text-white': currentCategory === 'All' }"
      >
        All
      </button>
      <button
        class="btn border-4 px-4 mx-2 border-light-subtle text-dark rounded-5"
        (click)="fetchCategory('Breakfast')"
        [ngClass]="{ 'btn-danger': currentCategory === 'Breakfast' }"
      >
        Breakfast
      </button>
      <button
        class="btn border-4 px-4 mx-2 border-light-subtle text-dark rounded-5"
        (click)="fetchCategory('Main Dishes')"
        [ngClass]="{ 'btn-danger': currentCategory === 'Main Dishes' }"
      >
        Main Dishes
      </button>
      <button
        class="btn border-4 px-4 mx-2 border-light-subtle text-dark rounded-5"
        (click)="fetchCategory('Drinks')"
        [ngClass]="{ 'btn-danger': currentCategory === 'Drinks' }"
      >
        Drinks
      </button>
      <button
        class="btn border-4 px-4 mx-2 border-light-subtle text-dark rounded-5"
        (click)="fetchCategory('Dessert')"
        [ngClass]="{ 'btn-danger': currentCategory === 'Dessert' }"
      >
        Desserts
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let product of products">
      <div *ngIf="loading"><span class="loader"></span></div>
      <div *ngIf="errorMessage">{{ errorMessage }}</div>
      <div *ngIf="!loading && products.length === 0">
        No products available.
      </div>
      <div class="card shadow-lg border-light rounded-4">
        <img
          class="card-img-top img-fluid"
          [src]="product.image"
          alt="{{ product.name }}"
        />
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold">{{ product.name }}</h4>
          <h5 class="text-success">${{ product.price.toFixed(2) }}</h5>
          <p class="card-text text-muted">{{ product.description }}</p>
          <a
            [routerLink]="['/product', product._id]"
            class="btn btn-primary mt-2"
            >See More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
