<section class="hero text-center">
  <h1>
    Best food for <br />
    your taste
  </h1>
  <p class="lead py-3">
    Discover delectable cuisine and unforgettable moments <br />
    in our welcoming, culinary haven.
  </p>
  <div>
    <button class="btn btn1 bg-danger rounded-5 mx-2" routerLink="/book">Book A Table</button>
    <button class="btn btn-outline-dark rounded-5" routerLink="/menu">Explore Menu</button>
  </div>
</section>
<section class="menu container text-center my-5">
  <h1>Browse Our Menu</h1>
  <div class="row my-5">
    <div class="col-md-3 px-3">
      <div class="card py-4 px-1 rounded-4">
        <div class="card-icon">
          <img src="assets/images/tea 1.svg" alt="" />
        </div>
        <h3>Breakfast</h3>
        <p>
          In the new era of technology we look in the future with certainty and
          pride for our life.
        </p>
        <a routerLink="/menu">Explore Menu</a>
      </div>
    </div>
    <div class="col-md-3 px-3">
      <div class="card py-4 px-1 rounded-4">
        <div class="card-icon">
          <img src="assets/images/Vector.svg" alt="" />
        </div>
        <h3>Main Dishes</h3>
        <p>
          In the new era of technology we look in the future with certainty and
          pride for our life.
        </p>
        <a routerLink="/menu">Explore Menu</a>
      </div>
    </div>
    <div class="col-md-3 px-3">
      <div class="card py-4 px-1 rounded-4">
        <div class="card-icon">
          <img src="assets/images/Drinks.svg" alt="" />
        </div>
        <h3>Drinks</h3>
        <p>
          In the new era of technology we look in the future with certainty and
          pride for our life.
        </p>
        <a routerLink="/menu">Explore Menu</a>
      </div>
    </div>
    <div class="col-md-3 px-3">
      <div class="card py-4 px-1 rounded-4">
        <div class="card-icon">
          <img src="assets/images/Desserts.svg" alt="" />
        </div>
        <h3>Desserts</h3>
        <p>
          In the new era of technology we look in the future with certainty and
          pride for our life.
        </p>
        <a routerLink="/menu">Explore Menu</a>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row p-5">
    <h1 class="pb-5">
      We also offer unique <br />
      services for your events
    </h1>
    <div class="col-md-3 card border-0" style="width: 18rem">
      <img src="assets/images/s1.png" class="card-img-top" alt="s1" />
      <div class="card-body">
        <h5 class="card-title">Caterings</h5>
        <p class="card-text">
          In the new era of technology we look in the future with certainty for
          life.
        </p>
      </div>
    </div>
    <div class="col-md-3 card border-0" style="width: 18rem">
      <img src="assets/images/s2.png" class="card-img-top" alt="s2" />
      <div class="card-body">
        <h5 class="card-title">Birthdays</h5>
        <p class="card-text">
          In the new era of technology we look in the future with certainty for
          life.
        </p>
      </div>
    </div>
    <div class="col-md-3 card border-0" style="width: 18rem">
      <img src="assets/images/s3.png" class="card-img-top" alt="s3" />
      <div class="card-body">
        <h5 class="card-title">Weddings</h5>
        <p class="card-text">
          In the new era of technology we look in the future with certainty for
          life.
        </p>
      </div>
    </div>
    <div class="col-md-3 card border-0" style="width: 18rem">
      <img src="assets/images/s4.png" class="card-img-top" alt="s4" />
      <div class="card-body">
        <h5 class="card-title">Events</h5>
        <p class="card-text">
          In the new era of technology we look in the future with certainty for
          life.
        </p>
      </div>
    </div>
  </div>
</section>
